.footer {
  box-sizing: border-box;
  /* My Edits  */
  background-color: #000000;
  /* border: solid red; */
}

.footer__columns {
  display: flex;
  /* justify-content: space-between; */
  /* margin-top: 60px; */
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
  border: solid red;
  /* height: 80px; */
}

.footer__column {
  margin-top: 60px;
  margin-right: auto;
}

.footer__column_content_hours {
  margin-top: 60px;

  border: solid red;
  margin-right: 80px;
}

.footer__column_content_social {
  margin-top: 60px;

  border: solid red;
}

.footer__logo {
  width: 57px;
  height: 80px;
  border: solid red;
  margin: auto;
  /* margin-bottom: 108px; */
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #f2f2f2;
}

.footer__list-item {
  line-height: 20px;
  font-size: 16px;
}

.footer__list-item:nth-child(2n) {
  line-height: 16px;
  font-size: 16px;
  margin: 0;
}

.footer__list-item p {
  margin-bottom: 0;
}

.footer__column-heading {
  color: #f2f2f2;
  margin: 0;
}

.footer__column-link {
  color: white;
  /* font-size: 16px;
    line-height: 20px; */
  text-decoration: none;
}

.footer__column-link {
  /* line-height: 20px;
    font-size: 16px; */
}

.footer__column-link:hover a {
  color: #c1c1c1;
}

.footer__column-link a {
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
}
.footer__column-link:nth-child(2n) a {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  color: #fff;
  margin-top: 108px;
  margin-left: 80px;
  margin-bottom: 0;
  /* padding: 60px; */
}
